<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}Título base{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <style>
    .likeButton {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>
    {% include '_includes/_header.html' %}

    {% block page_content %}

    {% endblock %}

    {% include '_includes/_footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      console.log('DOM cargado');
      const likeButtons = document.querySelectorAll('a.likeButton');
      likeButtons.forEach(likeButton => {
        let nLikesSpan = likeButton.querySelector('span');

        let nLikes = parseInt(nLikesSpan.innerHTML);
        likeButton.addEventListener('click', (event) => {
          // Prevenimos el comportamiento por defecto del botón
          event.preventDefault();
          // Hacemos una petición GET al href del botón
          fetch(likeButton.href)
            .then(response => response.json())
            .then(data => {
              // Si la petición fue exitosa, cambiamos el contenido del botón
              if (data.liked) {
                nLikes += 1;
                likeButton.innerHTML = `<span>${nLikes}</span> <i class="bi bi-suit-heart-fill"></i>`;
              } else {
                nLikes -= 1;
                likeButton.innerHTML = `<span>${nLikes}</span> <i class="bi bi-heart"></i>`;
              }
            });
        });
      });
    });
  </script>

</body>
</html>
