{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido a nuestro InstaConquer{% endblock %}

{% block page_content %}
<div class="container">
  {% include '_includes/_messages.html' %}

  <h1>Perfil</h1>
  <p>Biografía: {{ profile.bio|default_if_none:"Sin rellenar" }}</p>
  <p>Fecha de nacimiento: {{ profile.birth_date|default_if_none:"Sin rellenar" }}</p>
  <p>
    {% if profile.profile_picture %}
      <img width="100" src="{{ profile.profile_picture.url }}" alt="">
    {% else %}
      No dispone de foto de perfil
    {% endif %}
  </p>
  <p>Seguidores: {{ profile.followers.count }}</p>
  {% if profile.user == request.user %}
    <p><a href="{% url 'profile_update' profile.pk %}">Editar</a></p>
  {% endif %}

  {% if profile.user != request.user %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.profile_pk|as_crispy_field }}
        {% if following %}
          <button type="submit">Dejar de seguir</button>
        {% else %}
          <button type="submit">Seguir</button>
        {% endif %}
    </form>
  {% endif %}

  <section>
    <h2>Publicaciones</h2>
    <div class="row">
      {% for post in profile.user.posts.all %}
      <div class="col-12 col-sm-4">
        {% include '_includes/posts/_post.html' %}
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}