{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a nuestro InstaConquer{% endblock %}

{% block page_content %}
<div class="container">
  {% include '_includes/_messages.html' %}

  <h1>Mi perfil</h1>
  <p>Biografía: {{ profile.bio|default_if_none:"Sin rellenar" }}</p>
  <p>Fecha de nacimiento: {{ profile.birth_date|default_if_none:"Sin rellenar" }}</p>
  <p>
    {% if profile.profile_picture %}
      <img width="100" src="{{ profile.profile_picture.url }}" alt="">
    {% else %}
      No dispone de foto de perfil
    {% endif %}
  </p>
  <p>Seguidores: {{ profile.followers.count }}</p>
  <p><a href="{% url 'profile_update' profile.pk %}">Editar</a></p>

  <section>
    <h2>Publicaciones</h2>
    {% for post in profile.user.posts.all %}
      {% include '_includes/posts/_post.html' %}
      <hr class="hr" />
    {% endfor %}

  </section>
</div>
{% endblock %}