{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido a nuestro InstaConquer{% endblock %}

{% block page_content %}
<div class="container">
  {% include '_includes/_messages.html' %}

  <h1>Regístrate</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6">
          {{ form.first_name|as_crispy_field }}
          {{ form.username|as_crispy_field }}
          {{ form.email|as_crispy_field }}
          {{ form.password|as_crispy_field }}
        </div>
      </div>
      <button class="btn btn-secondary">Registrarse</button>
    </form>
</div>
{% endblock %}