  <ul>
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="">Autores</a></li>
    <li><a href="">Libros</a></li>
    <li><a href="{% url 'editorial:list' %}">Editoriales</a></li>
    <li><a href="{% url 'search' %}">Buscar</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>

    {% if request.user.is_authenticated %}
      <li>Usuario logueado: {{ request.user.email }}</li>
    {% endif %}
  </ul>


  {% if messages %}
  <section class="messages">
    <ul>
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }} - Categoría: {{ message.tags }}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
