{% load i18n %}

<h5>{% trans 'Menú principal' %}</h5>
  <ul>
    <li><a href="{% url 'home' %}">{% trans 'Inicio' %}</a></li>
    <li><a href="">Autores</a></li>
    <li><a href="">Libros</a></li>
    <li><a href="{% url 'editorial:list' %}">Editoriales</a></li>
    <li><a href="{% url 'search' %}">Buscar</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>

    {% if request.user.is_authenticated %}
      <li>Usuario logueado: {{ request.user.email }}</li>
    {% endif %}
  </ul>

  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <select name="language">
        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
    </select>
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit">Cambiar idioma</button>
  </form>



  {% if messages %}
  <section class="messages">
    <ul>
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }} - Categoría: {{ message.tags }}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
