{% load i18n %}

<h5>{% trans 'Menú principal' %}</h5>
  <ul>
    <li><a href="{% url 'home' %}">{% trans 'Inicio' %}</a></li>
    <li><a href="">Autores</a></li>
    <li><a href="">Libros</a></li>
    <li><a href="{% url 'editorial:list' %}">Editoriales</a></li>
    <li><a href="{% url 'search' %}">Buscar</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>

    {% if request.user.is_authenticated %}
      <li>Usuario logueado: {{ request.user.email }}</li>
    {% endif %}
  </ul>

  <form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% for lang_code, lang_name in LANGUAGES %}
            <option value="{{ lang_code }}" {% if LANGUAGE_CODE == lang_code %}selected{% endif %}>
                {{ lang_name }} ({{ lang_code }})
            </option>
        {% endfor %}
    </select>
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="submit" value="{% trans 'Cambiar' %}">
  </form>

  {% if messages %}
  <section class="messages">
    <ul>
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }} - Categoría: {{ message.tags }}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
