<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autores</title>
</head>
<body>
  <h1>{{ titulo }}</h1>
  <ul>
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'books:autor_list' %}">Autores</a></li>
    <li><a href="{% url 'books:libros_list' %}">Libros</a></li>
    <li><a href="{% url 'books:editorial_list' %}">Editoriales</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>
  </ul>

  {% if autor %}
    <h2>Nombre del autor: {{ autor.nombre }}</h2>
    <p>ID del Autor: {{ autor.id }}</p>
    <p>Volver a la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
  {% else %}
    <h2>No se ha encontrado el autor que buscabas</h2>
    <p>Puedes probar de nuevo en la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
  {% endif %}
</body>
</html>