{% extends "general/layout.html" %}

{% block head_title %}Página detalle de Autor{% endblock %}
{% block page_title %}Autor{% endblock %}

{% block page_content %}
  {% if autor %}
    <h2>Nombre del autor: {{ autor.nombre }}</h2>
    <p>ID del Autor: {{ autor.id }}</p>
    <p>Fecha de nacimiento: {{ autor.f_nac|date:"Y-m-d" }}</p>
    <p>Volver a la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
  {% else %}
    <h2>No se ha encontrado el autor que buscabas</h2>
    <p>Puedes probar de nuevo en la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
  {% endif %}
{% endblock %}
