{% extends "general/layout.html" %}

{% block head_title %}Página detalle de Editorial{% endblock %}
{% block page_title %}Editorial{% endblock %}

{% block page_content %}
    <h1>{{ titulo }}</h1>
    <h2>Nombre: {{ editorial.nombre }}</h2>
    <p>Dirección: {{ editorial.direccion }}</p>
    <p>Email: {{ editorial.email }}</p>

    <p><a href="{% url 'editorial:update' editorial.pk %}">Editar</a>
      {% if editorial.created_by == request.user %} - <a href="{% url 'editorial:delete' editorial.pk %}">Eliminar</a> {% endif %}</p>

    <p><a href="{% url 'editorial:list' %}">Volver a la lista de editoriales</a></p>
{% endblock %}
