{% extends "layout-base.html" %}

{% block head_title %}Página Home{% endblock %}

{% block page_content %}
  <h1>La escuela líder en habla hispana que revoluciona la educación en tecnología</h1>
  <p>Da un giro a tu futuro profesional guiado por los mayores referentes del sector</p>

  <h2>Descubre ConquerBlocks</h2>
  <p>La escuela número 1 en desarrollo de tecnologías emergentes. Conquer Blocks tiene un Máster pensado para ti</p>
  <p><a href="{% url 'core:about_us' %}">Conoce ConquerBlocks</a></p>

Conoce ConquerBlocks
{% endblock %}